<md-dialog aria-label="Subscription Options"  ng-cloak>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <div class="row" layout="column" layout-padding layout-align="center">
            <h3>
                These are your options...
            </h3>

            <div flex layout layout-align="center">
                <md-button class="md-raised" ng-click="view.newSub('Family', 'Montly')">Monthly Subscription</md-button>
            </div>
            <div flex layout layout-align="center">
                <md-button class="md-raised" ng-click="view.newSub('Family', 'Single')">1 Time Purchase</md-button>
            </div>

        </div>
    </md-dialog-content>

</md-dialog>