.md-menu-toolbar{
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

md-content{
  background-color: #d5d5d5;
  height: 100%;
  min-height: 100%;
}

.md-whiteframe{
  background: white;
  padding: 25px;
}

svg{
  fill: darkgreen;
}

.filled{
  svg{
    fill: grey;
  }
}

.bag-available{
  cursor: pointer;
}
